@charset "utf-8";
:root {
  --accent:#6ce763;
  --hover: #6dc167;
  --radius: 8px;
}
button {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
.find-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.5rem;
}
.find-container {
    margin: 80px auto 60px;
    background: #fff;
    max-width: 400px;
    padding: 30px;
    border-radius: var(--radius);
    border: 1px solid #ccc;
}
.form-section {
    display: block;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.group-btn {
    margin: 1rem 0;
    padding-top: 1rem;
    text-align: center;
}
.submit-btn {
    background-color: var(--accent);
}
.submit-btn:hover {
    background-color: var(--hover);
}
.login_link {
    text-align: center;
}
.login_link p{
    color:#888;
    font-size: 0.9rem;
}
.login_link a{
    color:#4a90e2;

}